@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color:black;
    color: aliceblue;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
}
.msg-container{
    border: 4px solid white;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 30px;
    left: 23vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    color: red;
    font-size: 3rem;
    border-radius: 20px;
    display: none;
    flex-direction: column;
}
.msg-container:hover{
    color: white;
    background-color: red;
}
#Close{
    position: absolute;
    bottom: 5vh;
    height: 7vh;
    width: 9vw;
    border-radius: 10%;
    cursor: pointer;
    font-size: 1.3rem;
    background-color:red;
    color: aliceblue;

}
.show{
    display: inline-flex;
}

#container {
    position: relative;
    width: 500px;
    height: 600px;
    overflow: hidden;
}

#yes {
    background-color: red;
    border: 2px solid black;
    /* border: none; */
    width: 10vw;
    border-radius: 10px;
    font-size: 25px;
    padding: 8px;
    cursor: pointer;
    transition: top 0.5, left 0.5s;
    margin-top: 20px;
    height: 8vh;
    font-weight: bold;
}
#yes:hover{
    border: 2px solid red;
    color: red;
    background-color: whitesmoke;
    font-size: 30px;
    font-weight: bold;

}

#target {
    position: absolute;
    width: 10vw;
    height: 8vh;
    left: 20vw;
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: top 0.5, left 0.5s;
    color: aliceblue;
    font-size: 25px;
    font-weight: bold;

}